<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

<main class= "content">
    <responsive-child>
    <div class= "outmost">
      <div class= "constrained">
        <div data-flex= "1-3">
        <Flipper flipKey={All}>          
            <Flipped flipId="square">
              <div className="small" /><img src="assets/photos/SeaNettle.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="square">
              <div className="small" /><img src="assets/photos/Caprellids.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="square">
              <div className="small" /><img src="assets/photos/Herring.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="seaNettle">
              <div className="small" /><img src="assets/photos/Pompano.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="seaNettle">
              <div className="small" /><img src="assets/photos/Pryosomes.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="seaNettle">
              <div className="small" /><img src="assets/photos/Squid.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="seaNettle">
              <div className="small" /><img src="assets/photos/Tunicat.jpg" alt="Sea Nettle"></div>
            </Flipped>
            <Flipped flipId="seaNettle">
              <div className="small" /><img src="assets/photos/Wolf_Eel.jpg" alt="Sea Nettle"></div>
            </Flipped>
        </Flipper>
      </div>
      <div class="caption">Photos: Steve Ringman / The Seattle Times</div>
    </div>
    </responsive-child>
  </main>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
